
.headerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(199, 218, 230);
    height: 60px;
    width: 100vw;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1)
}

.title {
    margin-left: 20px;
    font-size: 18px;
}
.navContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin-left: 40px;

}

.navLink {
    width: 173px;
    height: 60px;
    text-decoration: none;
    color: #282626;
    transition-delay: 0.1s;
    opacity: 0.4;
}

.navLink:hover {
    color: #0e0e11;
    border-bottom: 3px solid #c9a9a9;
}

.navLink.active {
    color: #0e0e0e;
    background-color: #c9a9a9;
    border-bottom: 3px solid #21268F;
    opacity: 1;
}
.navLinkContext {
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsImg {
    width: 25px;
    height: 27px;
    margin-right: 4px;
}

.useImg {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
