.loginContainer {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.formBlock {
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}

.content {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
}

.formContent label {
    align-self: flex-start;
    opacity: 0.5;
    margin: 5px 0;
}

.fromBlockTitle {
    margin: 0 auto;
}

.formInputBox {
}

.formInput {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(36, 37, 74, 0.2);
}

.inputPasswordView {
    width: 15px;
    transition: all 0.3s ease-in-out;
}

.formButtonBlock {
}

.btn {
}

.textBlock {
    display: flex;
    flex-direction: column;
}

.formBlockText {
    line-height: 20px;
    opacity: 0.8;
    font-size: 12px;
}

.formLink {
    font-weight: 600;
    font-size: 12px;
    margin-left: 10px;
}

.formLink:hover {
    color: #bf7b7b;
}



