.spanStyle {
   /* background: rgba(199, 165, 165, 0.45);*/
    background-color: #c7a5a5;
    border-radius: 5px;
    display: inline-block;
    padding: 0.75em;
    transform: scale(.8);
    transform-origin: 0 50%;
    transition: transform .6s;
    user-select: none;
}

.buttonPos {
    position: -ms-device-fixed;

}