.spanStyle {
    background: rgba(39, 115, 113, 0.45);
    border-radius: 1em;
    display: inline-block;
    padding: 0.75em;
    transform: scale(.8);
    transform-origin: 0 50%;
    transition: transform .6s;
    user-select: none;
}

.buttonPos {
    position: -ms-device-fixed;
}