.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.formContainer {
    background: #fff;
    width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;

    /* property from figma
    /*width: 413px;*/
    /*height: 540px;*/
    /*background-color: #F9F9FE;*/
    /*border-radius: 8px;*/
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h2 {
    margin-top: 25px;
    font-style: normal;
    font-size: 26px;
    line-height: 39px;
    font-weight: 600;
}

.title :nth-child(2) {
    margin-top: 32px;
}

.form input {
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 16px;
}
input:focus {
    color: #000000;
    border: 1px solid #000000;
    background-color: #cbe0e7;
}

.password {
    position: relative;
}
.passwordControl {
    position: absolute;
    top: 11px;
    right: 6px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/src/assets/viewPassword.png") 0 0 no-repeat
}
.passwordControl.view {
    background: url("/src/assets/hiddenPassword.png") 0 0 no-repeat;
}

