.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.formContainer {
    background: #fff;
    width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;

    /* property from figma
    /*width: 413px;*/
    /*height: 540px;*/
    /*background-color: #F9F9FE;*/
    /*border-radius: 8px;*/
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h2 {
    margin-top: 25px;
    font-style: normal;
    font-size: 26px;
    line-height: 39px;
    font-weight: 600;
}

.title :nth-child(2) {
    margin-top: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form input {
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 15px;
}

input:focus {
    color: #000000;
    border: 1px solid #000000;
    background-color: #cbe0e7;
}

.password {
    position: relative;
}

.passwordControl {
    position: relative;
    top: 2px;
    right: 20px;
    display: inline-block;
    width: 15px;
    height: 15px;
    opacity: 0.5;
}

.passwordControl:hover {
    opacity: 0.8;
}

.btn {
    margin-right: 20px;
}

:root {
    --text: #2b3044;
    --line: #bbc1e1;
    --line-active: #C7A5A5;
}

.svg svg {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    width: 76px;
    height: 25px;
    transform: translate(-75%, 7px) translateZ(0);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}

a:hover {
    --spacing: 4px;
    --stroke: var(--line-active);
    --stroke-delay: 0.1s;
    --offset: 180px;
}