.superInput {
    background-color: lavender;
    color: gold;
    border-bottom-color: aqua;
    border-radius: 5px;
}

.errorInput {
    font-family: inherit;
    width: 200px;
    height: 8px;
    border: 0;
    border-bottom: 3px solid darkred;
    outline: 0;
    font-size: 100%;
    color: rgba(2, 37, 47, 0.86);
    padding: 7px 0;
    background: darkred;
    transition: border-color 0.2s;
}


.errorInput:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    background: brown;
}



.error {
    color: brown;
    height: 21px;
    margin-left: 10px;
}


.inputField {
    font-family: inherit;
    width: 200px;
    height: 13px;
    border: 0;
    outline: 0;
    font-size: 100%;
    color: rgba(2, 37, 47, 0.86);
    padding: 8px 10px;
    background: rgba(199, 165, 165, 0.45);

}


.inputField:focus {
    font-weight: 500;
    border-width: 3px;

}

.classname {
    background-color: darkred;
}

