.pagination {
    margin: 10px;
    cursor: pointer;
    display: flex;
}
.pageNumber {
    padding: 2px;
    color: #bf7b7b;
}

.pageNumber.selectedPage {
    font-weight: bold;
}

.pages {
    display: inherit;
    justify-content: space-between;
    width: 240px;
    align-items: center;
}