.cardContainer {
    width: 100%;
    min-height: 45px;
    display: grid;
    grid-template-columns: 3fr 4fr 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    background-color: #f8f6f6;
    border: none;
    border-bottom: 2px solid white;
    box-sizing: border-box;
}

.cardContainer div {
    padding: .5em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-right: 5px;
}

.btn {
    margin-top: 0;
    margin-left: 5px;
    padding: 5px 8px;
    border-radius: 3px;
    color: black;
}
.btn:hover {
    color: white;
    background-color: gray;
}