.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.formContainer {
    background: #fff;
    width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.inputGroup {
    display: inherit;
    flex-direction: column;
}

.input {
    margin-bottom: 10px;
}