:root {
    --colour-black: #1e1e1e;
    --colour-white: #ffffff;
    --font-family: Lato,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    --font-size: 100%;
}

body {
   /* color: var(--colour-black);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.7;
    font-weight: 400;
    width: 600px;
    margin: 100px auto;*/
}

button,
.button{
    --button: hsl(0, 0%, 12%);
    --button-hover: hsl(0, 0%, 20%);
    --button-active:  hsl(0, 0%, 30%);
    --button-visited: hsl(0, 0%, 20%);
    --button-colour: var(--colour-white);
    --button-border: var(--colour-black);
}


.buttonPrimary {
    --button: hsl(0, 0%, 79%);
    --button-hover: hsl(0, 80%, 89%);
    --button-active:  hsl(0, 0%, 69%);
    --button-visited: hsl(0, 0%, 89%);
    --button-colour: var(--colour-black);
    --button-border: var(--colour-black);
    padding: .3rem .3rem;
    color: var(--button-colour);
    font-weight: 500;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
    background: var(--button);
    border: solid 1px var(--button-border);
    box-shadow: inset 0 0 0 2px var(--colour-white);
    margin-right: 1em;
}

.buttonSecondary {
    --button: hsl(360, 60%, 30%);
    --button-hover: hsl(360, 40%, 70%);
    --button-active:  hsl(346, 100%, 80%);
    --button-visited: hsl(346, 100%, 70%);
    --button-colour: var(--colour-black);
    --button-border: var(--colour-black);
    padding: .3rem .3rem;
    color: var(--button-colour);
    font-weight: 500;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
    background: var(--button);
    border: solid 1px var(--button-border);
    box-shadow: inset 0 0 0 2px var(--colour-white);
    margin-right: 1em;
}

.buttonTertiary {
    --button: hsl(220, 100%, 90%);
    --button-hover: hsl(50, 100%, 94%);
    --button-active:  hsl(50, 100%, 84%);
    --button-visited: hsl(50, 100%, 94%);
    --button-colour: var(--colour-black);
    --button-border: var(--colour-black);
    padding: .3rem .3rem;
    color: var(--button-colour);
    font-weight: 500;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
    background: var(--button);
    border: solid 1px var(--button-border);
    box-shadow: inset 0 0 0 2px var(--colour-white);
    margin-right: 1em;
}


/*button {
    padding: .9rem 1.7rem;
    color: var(--button-colour);
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    background: var(--button);
    border: solid 1px var(--button-border);
    box-shadow: inset 0 0 0 2px var(--colour-white);
    margin-right: 1em;
}*/

.buttonSecondary:hover {
    text-decoration: underline;
    background: var(--button-hover);
    box-shadow: inset 0 0 0 4px var(--colour-white);
}

.buttonSecondary:active {
    background: var(--button-active);
}

.buttonSecondary:visited {
    background: var(--button-visited);
}


.buttonPrimary:hover {
    text-decoration: underline;
    background: var(--button-hover);
    box-shadow: inset 0 0 0 4px var(--colour-white);
}

.buttonPrimary:active {
    background: var(--button-active);
}

.buttonPrimary:visited {
    background: var(--button-visited);
}

.buttonTertiary:hover {
    text-decoration: underline;
    background: var(--button-hover);
    box-shadow: inset 0 0 0 4px var(--colour-white);
}

.buttonTertiary:active {
    background: var(--button-active);
}

.buttonTertiary:visited {
    background: var(--button-visited);
}















