.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    max-width: 1068px;
    min-height: 636px;
    margin-top: 80px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}

.backLink {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.backLink:hover {
    color: #bf7b7b;
}
.arrowBack {
    cursor: pointer;
    font-size: 25px;
    margin-left:30px;
    text-decoration: none;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 950px;
    height: 40px;
    margin: 10px 30px;
}
.searchForm {
    width: 550px;
    display: flex;
    border: 1px solid #dedede;
}

form.searchForm input {
    padding: 5px;
    font-size: 17px;
    width: 92%;
    background: #f1f1f1;
}
form.searchForm input:focus {
    border: 1px solid #c4d9e5;
}
form.searchForm button {
    float: left;
    width: 8%;
    background: #c4d9e5;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

form.searchForm button:hover {
    background: #97b0ce;
}

form.searchForm::after {
    content: "";
    clear: both;
    display: table;
}


.addCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addDataCard {
    border: 1px solid #C7A5A5;
    height: 20px;
    width: 100px;
    margin: 5px;
}

.addDataCard:focus {
    border: 1px solid #C7A5A5;
}

.cardsTable {
    width: 950px;
    min-height: 450px;
    border-radius: 3px;
    margin: 0 auto;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
}
.cards {
    display: grid;
    grid-template-rows: 45px 1fr;
    grid-gap: 10px;
}
.cardsHeader {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 4fr 1fr 1fr 2fr;
    grid-gap: 10px;
    margin-left: 5px;
    font-weight: bold;
    color: #0c0c0c;
}

.cardsHeader div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.noCards {
    font-size: 1.5em;
    color: #97b0ce;
    margin-top: 50px;
    text-align: center;
}

.card {
    width: 100%;
    min-height: 45px;
    background-color: #d7e7ef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoItem {
    margin-left: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.paginator {
    height: 25px;
    margin-left: 25px;
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.selector {
    display: flex;
    height: 25px;
    width: 180px;
    margin-left: 35px;
}


