.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 1068px;
    min-height: 636px;
    margin-top: 50px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}

.backLink {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.backLink:hover {
    color: #bf7b7b;
}
.arrowBack {
    cursor: pointer;
    font-size: 25px;
    margin: 0 15px;
    text-decoration: none;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin: 5px 30px;
}
.addCard {
    display: flex;
    justify-content: space-between;
}
.addInfoCard {
    border: 1px solid #C7A5A5;
    height: 20px;
    margin: 10px;
}
.addInfoCard:focus {
    border: 1px solid #C7A5A5;
}

.cardsTable {
    width: 950px;
    min-height: 450px;
    border-radius: 3px;
    margin: 10px auto;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}

.noCards {
    font-size: 1.5em;
    color: #ef7b7b;
    margin-top: 50px;
    text-align: center;
}

.card {
    width: 100%;
    min-height: 45px;
    background-color: #e0e8ec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardInfo {
    width: 30%;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.infoItem {
    margin-left: 10px;
}

.paginator {
    margin-bottom: 5px;
    margin-left: 30px;
    align-self: flex-start;
    display: flex;
    align-items: center;
}




