.mainContainer {
    display: inherit;
    overflow-x: auto
}

table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table {
    padding: 10px;
    border-spacing: 0;
    margin: 20px 10px;
    box-shadow: 0 1px 15px rgb(0 0 0 / 10%)
}

tr:nth-child(2n) {
    background: #f0f0f0;
}

.title {
    width: 150px;
    height: 40px;
    padding: 10px;
    background-color: #C7A5A5;
    border-collapse: collapse;
}

.dataRow {
    /*width: 150px;*/
    height: 30px;
    text-align: center;
    border-collapse: collapse;
}

.nameColumn {
    /* overflow-wrap: break-word;*/
    max-width: 100px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /*display:inline-block;
    -webkit-box-orient: revert;*/
}

.deleteButton {

}

.deleteButton:after {
    top: 0;
    left: 0;
}

.tableBody {
    display: block;
    max-height: 400px;
    overflow: auto;
}

.tableHead {

}
