.table {
    border-spacing: 0;
}

tr:nth-child(2n) {
    background: #f0f0f0;
}

.title {
    width: 100px;
    padding: 10px;
    background-color: #C7A5A5;
    border-collapse: collapse;
}

.dataRow {
    width: 100px;
    text-align: center;
    border-collapse: collapse;
}